<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="scripts/vendor/vue.js"></script>
    <script src="scripts/myvue.js" defer></script>
</head>

<body>
    <h1>Vue Examples</h1>
    <hr>
    <div class="main-cont" id="app">
        Hello {{ message }}
        <p>The number is {{ mynum }}</p>
        <!-- <p>The bad number is {{ notmynum }}</p> -->
        <p title="what we see on hover">My text</p>
        <p v-bind:title="mydate">Title Bind Example</p>
        <hr>
        <span v-if="seen">Now you see me</span>
        <hr>
        <ol>
            <li v-for="mytodo in todos">
                {{ mytodo.text }}
            </li>
        </ol>
        <ul>
            <li v-for="job in jobs">
                Job: {{ job }}
            </li>
        </ul>
    </div>
    <footer>C 2020</footer>
</body>

</html>